* {
    margin: 0;
    padding: 0;

}

body {
    background: url(../images/wine.jpg) no-repeat;
    background-size: cover;
}

.top-head {
    background-color: #1e0000;
    color: white;
    text-align: center;
}

#top_phone {
    color: #9f0202;
}


#logo{
    width: 230px;
    position: relative;
}

.second-head-col {
    background: url(../images/second_head.png);
    background-size: cover;

    color: #440209;
    height: 60px;
}

.third-head {
    background-color: #440209;
    height: 100%;
    color: white;

}

.third-head-col {
    border: 1px solid #868484;

}


.bar {
    border: 1px solid #868484;
    height: 400px;

}