* {
    margin: 0;
    padding: 0;

}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: white;
  color: #ffffff;
}
.dropdown:hover .dropdown-menu {display: block;}


main {
    background-image: url(../images/wine.jpg);
    height: 1200px;
    background-size: cover;
    /*filter: brightness(10%);*/
    /*-webkit-filter: contrast(30%);*/
    /*filter: brightness(30%);*/



}

.top-head {
    background-color: #1e0000;
    color: white;
    text-align: center;
}

#top_phone {
    color: #9f0202;
    flex: none;
}


#logo{
    width: 200px;

}

.second-head-row {
    background: url(../images/second_head.png);
    background-size: cover;

}

.second-head-col {


    color: #440209;
    height: 60px;
}

.third-head {
    background-color: #440209;
    height: 100%;
    color: white;

}

.third-head-col {
    border: 1px solid #868484;

}

footer {
    background: url(../images/second_head.png);
    background-size: cover;
    color: #1e0000;
    text-align: center;
    padding: 5px;

}


/* Wiens */
.mein_col{
    border-radius: 18%;
    background-color: rgba(68, 2, 9, 0.6);
}

.content_col{
    height: 800px;
    border-radius: 18%;
    /*background-image: url(../images/second_head.png);*/
    /*background-color: rgba(68, 2, 9, 0.7);*/
}

.mini_content_col{
    border-radius: 18%;
    background-color: rgba(68, 2, 9, 0.9);
}

h3, h6{
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}


@media (max-width: 958px) {
    .small_size {
        font-size: 70%;

    }
}
