

/* Start:/local/templates/am/components/bitrix/news.list/main-banner/style.css?16690674783592*/
.main-promo-slider__slider {
	position: relative;
	height: 100%;
}

.main-promo-slider__slide {
	position: absolute!important;
	width: 100%!important;
	min-width: 100%!important;
	opacity: 0;
}

.main-promo-slider__link, .main-promo-slider__video-wrap, .main-promo-slider__slide-wrap {
	position: absolute;
	inset: 0;
}
.main-promo-slider__img, .main-promo-slider__video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
}
.dots {
	display: flex;
	padding: 10px 0;
	justify-content: center;
	position: absolute;
	bottom: 60px;
	right: 60px;
	z-index: 2;
}

.dot {
	border: none;
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50%;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
}

.navigation-wrapper {
	height: 100%;
}

.dot:focus {
	outline: none;
}

.dot--active {
	background: #7e0e2f;
}

.arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	fill: #fff;
	cursor: pointer;
	display: none;
	background-repeat: no-repeat;
	background-position: center;
}

.arrow--left {
	left: 5px;
	fill: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 17L2 9L10 1' stroke='white' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
	left: auto;
	right: 5px;
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17L9 9L1 1' stroke='white' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
}



.grid_links {
	display: none;
}
@media (max-width: 992px) {
	.dots {
		display: none;
	}
	.arrow {
		display: block;
	}
	.grid_links {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 12px;
		grid-row-gap: 12px;
		padding: 12px 15px;
	}

	.grid_links__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid #E5E5E5;
		box-sizing: border-box;
		border-radius: 3px;
		height: 87px;
		font-size: 12px;
		color: #090909;
		text-align: center;
		transition: 0.3s linear;
	}

	.grid_links__item:hover {
		border-color: #8A1A3B;
	}

	.grid_links__img {
		width: 43px;
		height: 50px;
	}

	.grid_links__icon {
		margin-bottom: 5px;
		transition: 0.3s linear;
	}

	.grid_links__img,
	.grid_links__icon {
		transition: 0.3s linear;
	}
}

@media screen and (max-width: 375px) {
	.grid_links {
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}

	.grid_links__item {
		height: 78px;
	}

	.grid_links__img,
	.grid_links__icon {
		transform: scale(0.9);
	}

	.grid_links__icon {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 359px) {
	.grid_links__item {
		height: 75px;
	}
}

@media screen and (max-width: 320px) {
	.grid_links__item {
		height: 65px;
		padding: 0 2px;
		justify-content: flex-start;
	}

	.grid_links__img,
	.grid_links__icon {
		transform: scale(1);
		height: 30px;
	}

	.grid_links__icon {
		margin: 7px 0 5px;
	}
}

.main-promo-slider__aspect-ratio {
	position: relative;
	width: 100%;
}
.main-promo-slider__aspect-ratio-sizer {
	width: 100%;
	padding-top: 455px;
}
.main-promo-slider__aspect-ratio-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
@media (max-width : 1239px) {
	.main-promo-slider__aspect-ratio-sizer {
		width: 100%;
		padding-top: 40%;
		flex: 1 0 0;
	}
}
@media (max-width : 768px) {
	.main-promo-slider__aspect-ratio-sizer {
		padding-top: 60%;
	}
}
/* End */


/* Start:/local/templates/am/components/aero/clear.component.d7/banners-right-to-the-main-slider/style.css?1669067478711*/
.main-banners__item {
    position: relative;
    min-width: 250px;
}

.main-banners__item.blackout:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.45);
}

.main-banners-item__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    padding: 0 1.875rem;
    color: #fff;
    font-size: 1.375rem;
    line-height: 1.8125rem;
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;
}

@media (max-width: 1500px) {
    .main-banners__item .show-all-banners,
    .main-banners-item__title {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
}

/* End */


/* Start:/local/templates/am/components/bitrix/news.list/main-thematic-banners/style.css?1669067478142*/
.collection-banner__link{
	display  : block;
	z-index  : 1;
	top      : 0;
	bottom   : 0;
	right    : 0;
	left     : 0;
	position : absolute
}
/* End */


/* Start:/local/templates/am/components/bitrix/news.list/random-facts/style.css?1669067478256*/
.fact__head-title {
    font-family: PT Serif, 'Times New Roman', serif;
    text-rendering: optimizeLegibility;
    font-size: 26px;
    line-height: 34px;
    color: #090909;
    margin: 0;
    padding: 0;
    font-weight: 700;
    letter-spacing: 1px;
}
/* End */


/* Start:/local/templates/am/components/aero/easy.subscribe/front/style.css?1669067478746*/
.form_subscription .form__label {
    display: block;
    width: auto
}
.form_subscription .form__input {
    width: 100%;
    height: 50px;
    display: block
}
.form_subscription .form__field-row {
    margin-bottom: 0
}
.form_subscription .form__submit {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 6px;
    border-radius: 4px;
    background-color: #fabc07;
    border: 0;
    cursor: pointer
}
.form_subscription .form__submit:focus {
    outline: 0
}
.form_subscription .form__field {
    position: relative;
    width: auto;
    display: block
}

.form__field-agree {
    margin-top: 15px;
    width: 100%;
}

.form__field-agree .input-checkbox + label {
    line-height: 18px;
}
/* End */


/* Start:/local/templates/am/components/aero/clear.component.d7/app-download-block/style.css?16690674787537*/
.banner_app {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #242424;
    white-space: nowrap;
    border-radius: 4px;
    height: auto;
    position: relative;
    padding: 30px 50px;
}
.banner_app .banner__content {
    width: 60%;
    display: none;
}
.banner_app .banner__content:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em
}
.banner_app .banner__content > {
    display: inline-block;
    vertical-align: middle
}
@media (max-width: 1023px) {
    .banner_app .banner__content:before {
        display: none
    }
}
.banner_app .banner__content h3, .banner_app .banner__content .h3 {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: .43px;
    margin: 0;
    padding: 0
}
@media (max-width: 1239px) {
    .banner_app .banner__content {
        width: 60%;
        height: 70px;
        padding-top: 1%;
        overflow: hidden
    }
    .banner_app .banner__content h3, .banner_app .banner__content .h3 {
        font-size: 1.5rem;
        font-weight: 400
    }
}
@media (max-width: 767px) {
    .banner_app {
        height: auto;
        padding-bottom: 30px
    }
    .banner_app .banner__content {
        width: 100%;
        height: auto;
        padding: 20px
    }
}
.banner_app .banner__image {
    display: inline-block;
    vertical-align: top;
    height: 130px;
    position: relative;
    width: 26%;
    white-space: normal;
    overflow: hidden
}
.banner_app .banner__image img {
    position: absolute;
    left: 5px
}
@media (max-width: 1239px) {
    .banner_app .banner__image {
        height: 130px;
        width: 37%
    }
    .banner_app .banner__image img {
        bottom: 0;
        left: 10px
    }
}
@media (max-width: 767px) {
    .banner_app .banner__image {
        position: absolute;
        width: 50%;
        bottom: 0;
        left: 10px;
        display: none
    }
    .banner_app .banner__image img {
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
.banner_app .banner__links {
    padding-top: 90px;
}
.banner_app .banner__links img {
    margin-bottom: 8px
}
@media (max-width: 767px) {
    .banner_app .banner__links {
        width: 100%;
        position: static;
    }
    .banner_app .banner__links>a{
        max-width: 50%;
    }
    .banner_app .banner__links img {
        transform: scale(.8);
        transform-origin: left;
    }
}

@media (max-width: 500px) {
    .banner_app {
        padding: 15px;
    }

    .banner_app .banner__content h3, .banner_app .banner__content .h3 {
        font-size: 1.2rem;
        line-height: 24px;
    }
}
.banner_app2 {
    position: relative;
    border-radius: 4px;
    max-width: 1147px;
    margin: auto
}
.banner_app2:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    opacity: .2;
    border-radius: 4px
}
.banner_app2 .banner__content {
    display: inline-block;
    vertical-align: top;
    width: 55%;
    height: 130px;
    position: relative;
    text-align: left;
    z-index: 1
}
.banner_app2 .banner__content:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em
}
.banner_app2 .banner__content > {
    display: inline-block;
    vertical-align: middle
}
.banner_app2 .banner__content h3, .banner_app2 .banner__content .h3 {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    max-width: none;
    color: #ffffff;
    line-height: 17px;
    margin: 0 0 10px;
    padding: 0
}
@media (max-width: 1239px) {
    .banner_app2 .banner__content {
        width: 70%;
        height: auto;
        padding-top: 3%
    }
    .banner_app2 .banner__content h3, .banner_app2 .banner__content .h3 {
        font-size: 1.5rem;
        font-weight: 400
    }
}
@media (max-width: 767px) {
    .banner_app2 .banner__content {
        width: 100%;
        padding: 20px
    }
    .banner_app2 .banner__content h3, .banner_app2 .banner__content .h3 {
        font-size: 1.25rem
    }
}
.banner_app2 .banner__content p {
    font-size: 1rem;
    line-height: 19px;
    margin-bottom: 0
}
.banner_app2 .banner__content-inner {
    display: inline-block;
    vertical-align: middle;
    width: 620px
}
.banner_app2 .banner__image {
    display: inline-block;
    vertical-align: top;
    height: 130px;
    position: relative;
    z-index: 1;
    width: 18%;
    white-space: normal
}
@media (max-width: 1239px) {
    .banner_app2 .banner__image {
        height: 150px;
        width: 24%
    }
}
.banner_app2 .banner__image img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%)
}
@media (max-width: 767px) {
    .banner_app2 .banner__image {
        position: absolute;
        width: 50%;
        bottom: 0;
        left: 10px
    }
    .banner_app2 .banner__image img {
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
.banner_app2 .banner__links {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 26%;
    position: relative;
    z-index: 1;
    height: 130px
}
.banner_app2 .banner__links:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em
}
.banner_app2 .banner__links > {
    display: inline-block;
    vertical-align: middle
}
.banner_app2 .banner__links img {
    margin-left: 10px
}
@media (max-width: 1239px) {
    .banner_app2 .banner__links {
        position: absolute;
        width: auto;
        bottom: 20px;
        left: 25.5%;
        padding-top: 0;
        height: 41px
    }
    .banner_app2 .banner__links img {
        margin-right: 15px
    }
}
@media (max-width: 767px) {
    .banner_app2 .banner__links {
        right: 20px;
        left: auto;
        width: 50%;
        top: 140px;
        text-align: right
    }

    .banner_app2 .banner__links img {
        margin-right: 0;
        width: 70%
    }
}
@media screen and (max-width: 768px) {
    .banner_app .banner__links {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .banner_app .banner__links > a {
        height: 35px;
        display: flex;
        margin-top: 7px;
    }

    .banner_app .banner__links img {
        width: 100%;
        height: 100%;
        transform: scale(1);
        object-fit: contain;
    }
    .banner_app .banner__links {
        padding-top: 60px;
    }
}
.banner__title {
    margin-bottom: 5px;
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner__subtitle {
    margin-bottom: 25px;
    display: block;
    font-family: 'Proxima Nova';
    font-size: 24px;
    line-height: 125%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner_app .banner__links {
    padding: 0 !important;
}
@media (max-width: 767px) {
    .banner__title {
        font-size: 32px;
    }
    .banner__subtitle {
        font-size: 24px;
        margin-bottom: 10px;
    }
}
@media (max-width: 480px) {
    .banner__subtitle {
        font-size: 17px;
    }
}

/* End */


/* Start:/local/templates/am/components/bitrix/news.list/vestnik/style.css?16697469702671*/
.banner_journal {
    height: 245px;
    background-repeat: no-repeat;
    border-radius: 4px;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 40px 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.banner_journal .banner__content {
    position: relative;
    z-index: 1;
    margin-bottom: 41px;
}

.banner_journal .banner__content {
    width: 57%;
}

.banner_journal .btn {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background: #C71E3F;
    border-radius: 10px;
    width: 200px;
    border: none !important;
}

.banner_journal .banner__title {
    white-space: normal;
    color: #000000;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: .43px;
    margin-bottom: 30px;
    font-family: PT Serif, 'Times New Roman', serif;
    font-weight: bold;
}
.banner_journal .banner__title.banner__title__white {
    color:white;
}
.banner__image {
    margin-right: 40px;
}

@media (max-width: 767px) {
    .banner_journal .banner__content {
        margin-top: 20px;
        width: 100%;
    }

    .banner_journal .banner__title {
        font-size: 20px;
        line-height: 26px
    }

    .banner_journal .btn {
        margin: 0 auto;
        width: 100%;
    }

    .banner_journal {
        position: relative;
        margin-top: 35px;
    }

    .banner_journal:before {
        content: none;
        display: block;
        position: absolute;
        top: -46px;
        left: 20px;
        width: 86px;
        height: 86px;
        background: url('../../../../../../local/templates/am/images/am-expert.png') no-repeat center;
    }
}

@media (max-width: 1239px) {
    .page-catalog-main-media .banner_journal {
        margin-bottom: 20px
    }
}

@media (max-width: 992px) {
    .banner_journal .banner__title {
        display: none;
    }

    .banner_journal img {
        position: static;
    }

    .page-catalog-main-media .banner_journal {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner_journal .banner__content {
        position: absolute;
        left: 0;
        bottom: 35px;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner_journal .btn {
        font-size: 16px;
        background: #C71E3F;
        font-weight: normal;
        text-transform: uppercase;
        max-width: 180px;
    }

    .banner__image {
        margin-right: 0;
    }

    .banner_journal .banner__image {
        margin: 0 auto;
    }
}
/* End */
/* /local/templates/am/components/bitrix/news.list/main-banner/style.css?16690674783592 */
/* /local/templates/am/components/aero/clear.component.d7/banners-right-to-the-main-slider/style.css?1669067478711 */
/* /local/templates/am/components/bitrix/news.list/main-thematic-banners/style.css?1669067478142 */
/* /local/templates/am/components/bitrix/news.list/random-facts/style.css?1669067478256 */
/* /local/templates/am/components/aero/easy.subscribe/front/style.css?1669067478746 */
/* /local/templates/am/components/aero/clear.component.d7/app-download-block/style.css?16690674787537 */
/* /local/templates/am/components/bitrix/news.list/vestnik/style.css?16697469702671 */
